/* font-family: 'Pacifico', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Pacifico&display=swap');

:root {
  --dark-primary-color: #FBC02D;
  --light-primaty-color: #FFF9C4;
  --shadow-light-primary-color: #b8b281;
  --primary-color: #FFEB3B;
  --text-icons: #212121;
  --accent-color: #FF5722;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: var(--light-primaty-color);
  color: var(--text-icons);
}

main {
  height: auto;
  width: 100vw;
}

i {
  cursor: pointer;
  font-size: 1.3rem;
  opacity: 0.5;
}

i:hover {
  opacity: 1;
}

#main-container {
  position: relative;
}

.inside-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 1.5rem 4.8rem;
}

#recipe-container, #drink-container, #search-container {
  overflow: hidden;
  transition: width 500ms;
  transition-property: all;
}

#recipe-title, #drink-recipe-title {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--light-primaty-color);
  background-color: var(--accent-color);
  border-radius: 8px 8px 8px 8px;
}

#tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#tags span {
  margin: 0.2rem;
  font-size: 0.8rem;
}

.recipe-ingredients {
  list-style-position: inside;
  list-style-type: circle;
}

.recipe-ingredients h3, .instructions h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-ingredients p {
  margin-bottom: 1rem;
}

.recipe-ingredients li {
  padding: 0.5rem 0;
  font-style: italic;
  font-weight: 300;
}

.instructions {
  margin-top: 1rem;
}

.instructions span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.instructions span button {
  width: 50%;
  background-color: var(--accent-color) !important;
  color: var(--light-primaty-color) !important;
}

.instructions span a {
  color: var(--light-primaty-color);
  text-decoration: underline;
}

.ingredients-container {
  padding: 1.2rem;
  margin-top: 1.1rem;
  background-color: var(--text-icons);
  border-radius: 8px 8px 8px 8px;
  color: var(--light-primaty-color);
}

.table {
  margin-top: 1rem;
}

.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.8rem;
  background-color: var(--light-primaty-color);
  color: var(--text-icons);
  z-index: 1000;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.image img {
  border-radius: 8px 8px 8px 8px;
}

.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--dark-primary-color);
  color: var(--text-icons);
  border-radius: 25px 25px 0px 0px;
}

/*  class to change the display and width */

.visible {
  width: 100%;
}

.invisible {
  width: 0;
  height: 0;
  overflow: hidden;
}

.selected i {
  opacity: 1;
}
